<div class="app-main">
    <div class="app-container">
        <app-header class="app-header" [clock]="clock$ | async"></app-header>
        <ng-container *ngIf="isBellRinging;else bellBlock">
            <app-alarm-bell class="app-alarm-bell-wrapper" (confirm)="handleAlarmBellConfirm()"></app-alarm-bell>
        </ng-container>
        <ng-template #bellBlock>
            <app-body class="app-body"
                      [alarms]="alarms$ | async"
                      [(isConfigSettings)]="isConfigSettings"></app-body>
            <app-footer class="app-footer"
                        [(isConfigSettings)]="isConfigSettings"></app-footer>
        </ng-template>
    </div>
</div>
