:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.no-alarms {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 1.2rem;
  color: rgba(96, 96, 96, .7);
  text-align: center;
}